@defer (when !loading) {
  <p-table [value]="gits" [tableStyle]="{'min-width': '60rem'}" selectionMode="single" [(selection)]="selectedGit" [metaKeySelection]="true" dataKey="id" (onRowSelect)="handleSelect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th id="id" pSortableColumn="id" style="width:20%">
                Id <p-sortIcon field="id" />
            </th>
            <th id="name" pSortableColumn="name" style="width:20%">
                Name <p-sortIcon field="name" />
            </th>
            <th id="url" pSortableColumn="url" style="width:20%">
                Url <p-sortIcon field="url" />
            </th>
            <th id="date" pSortableColumn="date" style="width:20%">
                Date <p-sortIcon field="date" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-git>
        <tr [pSelectableRow]="git">
            <td>{{ git.id }}</td>
            <td>{{ git.name }}</td>
            <td>{{ git.url }}</td>
            <td>{{ git.date|date: 'dd-MM-yyyy HH:mm:ss' }}</td>
        </tr>
    </ng-template>
</p-table>
}
  
  