/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'UbuntuSansMono';
    src: url('../src/assets/UbuntuSansMono-Regular.ttf');
  }

html, body { height: 100%; }
body .p-component { margin: 0; font-family: "UbuntuSansMono", "Helvetica Neue", sans-serif; }
