<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Path</th>
        <th scope="col">Added the</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let git of gits">
          <td><a routerLink="/gits/{{git.id}}">{{ git.id }}</a></td>
        <td>{{ git.name }}</td>
        <td>{{ git.path }}</td>
        <td>{{ git.addedDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
